.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

.leftSectionContainer {
  width: 70%;
  height: inherit;
  background-color: #fa9a65;
  padding: 0 10vh;
  position: relative;
}
.rightSectionContainer {
  width: 30%;
  height: inherit;
  background-color: #302f33;
}

.sphereSectionContainer {
  width: 50vw;
  height: 80vh;
  top: 10vh;
  right: 0;
  z-index: 100;
  position: absolute;
}

.ring {
  position: absolute;
  top: 10vh;
  right: 4.4vw;
  height: 80vh;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 20px #fa9a65 solid;
}

.contents {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.span {
  font-weight: 100;
}

.logo {
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: bold;
}

.banner {
  position: absolute;
  left: 10vh;
  top: 10vh;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.banner h1 {
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 30px;
}

.banner p {
  width: 80%;
  font-size: medium;
  font-weight: 100;
}

.paragraphSection {
  width: 80%;
  display: flex;
}

.numbers span {
  height: 30px;
  background-color: red;
  width: 250px;
}