.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

.leftSectionContainer {
  width: 70%;
  height: inherit;
  background-color: #fa9a65;
}
.rightSectionContainer {
  width: 30%;
  height: inherit;
  background-color: #302f33;
}

.sphereSectionContainer {
  width: 50vw;
  height: 80vh;
  top: 10vh;
  right: 0;
  z-index: 100;
  position: absolute;
}

.ring {
  position: absolute;
  top: 10vh;
  right: 4.4vw;
  height: 80vh;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px white solid;
}
